<form *ngIf="doctor" name="deleteForm">
    <div class="modal-header">
        <h4 class="modal-title">Выберите время</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="form-control-label"  for="field_specialty">Выберите дату:</label>
            <select class="form-control" id="field_specialty" name="specialty" formControlName="specialtyId">
                <option >21.05.2020</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_specialty">Выберите время:</label>
            <select class="form-control" id="field_time" name="specialty" formControlName="specialtyId">
                <option >16.00</option>
                <option >16.30</option>
            </select>
        </div>
     </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <span>Отменить</span>
        </button>

        <button id="jhi-confirm-delete-doctor" type="submit" class="btn btn-danger">
           <span >Заказать</span>
        </button>
    </div>
</form>
